---
import Layout from "../components/Layout.astro";
import Links from "../components/Links.astro";
import TechStack from "../components/TechStack.astro";

function age() {
	const birthday = +new Date(2006, 10, 28);
	return ~~((Date.now() - birthday) / 31557600000);
}
---

<Layout>
	<div class="-mt-12 sm:mt-0">
		<div class="flex items-center space-x-6">
			<div
				class="rounded-full bg-gradient-to-tl from-purple-700/60 to-rose-400/60 shadow-lg ring-[5px] ring-purple-500/10 p-[3px]"
			>
				<div class="rounded-full p-px h-[64px] w-[64px]">
					<img
						src="https://github.com/d6stiny.png"
						alt="github profile image"
						class="rounded-full"
					/>
				</div>
			</div>
			<div>
				<h1 class="text-3xl font-medium text-rose-100/80 sm:text-4xl">
					d6stiny
				</h1>
				<h2 class="align-middle text-lg leading-6 text-rose-100/50">
					<span class="font-medium text-rose-100/70">self-taught</span>
					<span class="inline">fullstack developer</span>
				</h2>
			</div>
		</div>
		<p class="mt-7 text-xl text-rose-100/90 sm:mt-9">
			I'm a {age()}y/o self-taught fullstack developer from Portugal. I like to
			say that I'm fullstack, though I'm mostly experienced in backend.
			Passionate about free privacy-friendly software. Apple enthusiast.
		</p>
		<div id="oneko" aria-hidden="true"></div>
		<div class="mt-8 sm:mt-12">
			<Links />
		</div>

		<div class="space-y-5 mt-14 sm:mt-32">
			<TechStack />
		</div>
	</div>
</Layout>

<style>
	#oneko {
		content: "";
		display: inline-block;
		position: absolute;
		width: 32px;
		height: 32px;
		right: 2rem;
		top: 1.3rem;
		image-rendering: pixelated;
		background-image: url("https://raw.githubusercontent.com/adryd325/oneko.js/14bab15a755d0e35cd4ae19c931d96d306f99f42/oneko.gif");
		animation: sleep 1s infinite;
		cursor: pointer;

		@media (prefers-reduced-motion) {
			display: none;
		}
	}

	#oneko:hover {
		animation: 2.5s 1 forwards wakeup;
	}

	@keyframes sleep {
		0%,
		50% {
			background-position: -64px 0;
		}
		50.00001%,
		100% {
			background-position: -64px -32px;
		}
	}
	@keyframes wakeup {
		0%,
		20% {
			background-position: -160px 0;
		}
		20.00001%,
		40% {
			background-position: -192px 0;
		}
		40.00001%,
		60% {
			background-position: -224px 0;
		}
		60.00001%,
		80% {
			background-position: -96px -64px;
		}
		80.00001%,
		100% {
			background-position: -96px -96px;
		}
	}
</style>
